.container {
    background-color: rgba(101, 98, 98, 0.979);
    color: antiquewhite;
}
.cont1{
   background-color:  rgba(101, 98, 98, 0.979);
}
/* section{
    color: antiquewhite;
} */

#confirmation {
    color: black;
}

.white {
    color: antiquewhite;
}

.red {
    color: rgb(232, 111, 111);
}

.black {
    color: black;
}

#Navbar-Id a:hover {
    background-color: black;
    color: wheat;
    border-radius: 14px;
}

.row1 img {
    height: 60px;
}

.text-center {
    text-align: center;
    margin: 20px 0px;
    padding: 0px 40px;
}

.h-primary {
    font-size: calc(0.5vw + 1rem);

}

.h-secondary {
    font-size: calc(0.8vw + 1.7rem);

}



.section-a1 {
    padding-top: 60px;
    height: 500px;
    margin-top: 30px;
    /* font-size: 3rem; */
}

.section-a2a {
    font-size: 2vw;
    font-weight: bolder;
    justify-content: space-between;
}



.section-a3 {
    height: 450px;
    background: rgba(101, 98, 98, 0.979);
    /* font-size: 1.5rem; */
}

.section-2 {
    height: 600px;

}

.text-justify {
    text-align: justify;
}

/* .box {
    display: flex; 
    border:2px solid purple; 
    height: 200px;
    justify-content: center;
} */

/* .box img {
    height: 150px;
    position: relative;
    left: 20px;
    border-radius: 12px;
} */


.karyashala img {
    height: 150px;
}

/* #footer1{
    font-size: 0.8vw+1rem;
} */

#footer_minusOne img {
    height: 250px;
}

#footer {
    position: relative;
    bottom: 0px;
    font-size: 20px;
}


.section-a1::before {
    content: "";
    background-image: url(./Images/bg-section-a1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: -1;
    opacity: 0.3;
    height: 800px;
    width: 100vw;
    z-index: -1;
}


/* .section-a2::before {
    content: "";
    position: absolute;
    top: 600px;
    left: 0px;
    background-image: url(./Images/bg-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    height: 1100px;
    width: 100vw;
    z-index: -1;
} */

/* #karyashala-id::before {
    content: "";
    background-image: url(./Images/bg-4.webp);
    position: absolute;
    top: 1300px;
    left: 0px;
    z-index: -1;
    opacity: 0.2;
    height: 420px;
    width: 100vw;
    z-index: -1;
} */

/* #confirmation::before {
    content: "";
    background-image: url(./Images/bg-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 2250px;
    left: 0px;
    z-index: -1;
    opacity: 0.2;
    height: 1200px;
    width: 100vw;
    z-index: -1;
} */

/* #howToApply::before {
    content: "";
    background-image: url(./Images/bg-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 3430px;
    z-index: -1;
} */


.qr_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.prof-img{
    height: 200px;
}











@media(max-width:767px) {
    #karyashala-id {
        justify-content: center;
        margin-left: 10px;
        width: 95%;

    }
}


@media(max-width: 500px) {

    body p {
        font-size: x-small;
    }

    body h1 {
        font-size: large;
    }

    .section-a3 {
        font-size: xx-small;
    }

    .pfsmall{
        font-size: xx-small;
    }
    .head-small{
        font-size: large;
    }
}